<nb-card class="container bg-white p-4 shadow">
    <h4 class="py-3 text-center">Create your business portfolio</h4>
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit(businessForm.value)">
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Step one</ng-template>
                <h4>Before you begin</h4>
                <p class="lorem">
                    We may collect and store information about you in connection with your use of the Service, including
                    any
                    information you transmit to or through the Service. We use that information to provide the Service’s
                    functionality, fulfill your requests, improve the Service’s quality, engage in research and analysis
                    relating to the Service, personalize your experience, track usage of the Service, provide feedback
                    to
                    third party businesses that are listed on the Service, display relevant advertising, market the
                    Service,
                    provide customer support, message you, back up our systems, allow for disaster recovery, enhance the
                    security of the Service, and comply with legal obligations. Even when we do not retain such
                    information,
                    it still must be transmitted to our servers initially and stored long enough to process.
                </p>
                <button nbButton nbStepperNext size="small" class="mr-2">Next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Step two</ng-template>
                <h4>Business Details</h4>
                <div class="px-5">
                    <!-- <p>Please fill the form below to the best of your ability</p> -->
                    <div class="form-group">
                        <label for="name">Business Name</label>
                        <input nbInput fullWidth type="text" formControlName="name" id="name" placeholder="eg PTSKenya"
                            required #name>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tel">Phone Number</label>
                                <input nbInput fullWidth type="tel" name="tel" formControlName="phoneNumber" id="tel"
                                    placeholder="0707076869" required #phoneNumber>
                            </div>
                            <div class="form-group">
                                <label for="address">Business Address</label>
                                <input nbInput fullWidth type="text" formControlName="address" id="address"
                                    placeholder="eg CK Patel, Pandit Nedru Rd" required #address>
                            </div>
                            <div class="form-group">
                                <label for="tel">Business Type</label><br>
                                <ng-select [multiple]="true" formControlName="categories">
                                    <ng-option *ngFor="let category of categories" [value]="category.name">
                                        {{category.name}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="form-group">
                                <label for="address">Business Picture</label>
                                <input nbInput fullWidth type="file" id="picture"
                                    accept="image/*" (change)="uploadPicture($event)" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Portfolio Password</label>
                                <input nbInput fullWidth type="password" formControlName="password" id="password"
                                    required #password>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="address">Business Location</label>
                            <ngx-place-picker (locationChanged)="this.logLocationChange($event)"
                                [enablePlacesSearch]="false" [enableCurrentLocation]="true">
                            </ngx-place-picker>
                        </div>
                    </div>
                </div>
                <button nbButton nbStepperPrevious size="small" class="mr-2">prev</button>
                <button nbButton nbStepperNext size="small" class="mr-2">Next</button>
            </nb-step>
            <nb-step [label]="labelThree">
                <ng-template #labelThree>Step three</ng-template>
                <h4>Owner Details</h4>
                <div class="px-5">
                    <!-- <p>Please fill the form below to the best of your ability</p> -->
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="tel">First Name</label>
                            <input nbInput fullWidth type="text" formControlName="firstName" id="fName"
                                placeholder="John" required #firstName>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address">Last Name</label>
                            <input nbInput fullWidth type="text" formControlName="lastName" id="lName" placeholder="Doe"
                                required #lastName>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="tel">ID Number</label>
                            <input nbInput fullWidth type="tel" formControlName="idNumber" id="idNo"
                                placeholder="34584572" required #idNo>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address">Gender</label>
                            <nb-select placeholder="Select type" fullWidth formControlName="gender" #gender>
                                <nb-option value="female">Female</nb-option>
                                <nb-option value="male">Male</nb-option>
                                <nb-option value="none">Prefer not to say</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="tel">Phone Number</label>
                            <input nbInput fullWidth type="tel" formControlName="ownerPhoneNumber" id="tel"
                                placeholder="0707076869" required #ownerPhoneNumber>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address">Email</label>
                            <input nbInput fullWidth type="email" formControlName="ownerEmail" id="email"
                                placeholder="johndoe@mail.com" required #ownerEmail>
                        </div>
                    </div>
                </div>
                <button nbButton nbStepperPrevious size="small" class="mr-2">prev</button>
                <button nbButton nbStepperNext size="small" class="mr-2">Next</button>
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Step four</ng-template>
                <h4>Operations and Extras</h4>
                <p class="lead w-75">
                    We like to provide your customers with a better understanding of your business operation hours and
                    the
                    services you provide. Please indicate what times your business is operational.
                </p>
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <label for="">Operational days</label>
                        <ng-select [multiple]="true" formControlName="days">
                            <ng-option *ngFor="let day of days" [value]="day">{{day}}</ng-option>
                        </ng-select>
                        <label for="">Operational hours</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-1">Opens At</span>
                            </div>
                            <input formControlName="opens" type="time" class="form-control" #opens>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-1">Closes At</span>
                            </div>
                            <input formControlName="closes" type="time" class="form-control" #closes>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label for="">Extra notes</label><br>
                        <textarea formControlName="notes" nbInput fullWidth name="extras" id="extras" rows="12"
                            #extras></textarea>
                    </div>
                </div>
                <button nbButton nbStepperPrevious size="small" class="mr-2">prev</button>
                <button nbButton nbStepperNext size="small" class="mr-2">Next</button>
            </nb-step>
            <nb-step [label]="labelFive">
                <ng-template #labelFive>Step Five</ng-template>
                <h4>Confirmation</h4>

                <nb-alert *ngIf="!businessForm.valid" status="danger">
                    Your portfolio is incomplete. Please navigate back and complete empty fields.
                </nb-alert>

                <div *ngIf="businessForm.valid">
                    <p class="lorem">
                        Please confirm if the following data is correct to the best of your knowledge.
                    </p>

                    <h5>{{name.value}}</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Business Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{phoneNumber.value}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{address.value}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>Multiple categories</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Owner Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>{{firstName.value}}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{lastName.value}}</td>
                            </tr>
                            <tr>
                                <td>Id Number</td>
                                <td>{{idNo.value}}</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{ownerPhoneNumber.value}}</td>
                            </tr>
                            <tr>
                                <td>Email Address</td>
                                <td>{{ownerEmail.value}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <button nbButton nbStepperPrevious size="small" class="mr-2">prev</button>
                <button [disabled]="!businessForm.valid" nbButton size="medium" status="success" class="mr-2"
                    type="submit">Finish and Create
                    Portfolio</button>
            </nb-step>
        </nb-stepper>
    </form>
</nb-card>