<!-- f7ed0919f37aa31252fd7aac5eeb86f535a75c9f -->
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-3">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-9">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <nb-card accent="success" class="p-5">
                                <h1 class="display-4">
                                    {{count.businesses}}
                                </h1>
                                <p>Businesses</p>
                            </nb-card>
                        </div>
                        <div class="col-md-6 text-center">
                            <nb-card accent="success" class="p-5">
                                <h1 class="display-4">
                                    {{count.users}}
                                </h1>
                                <p>Users</p>
                            </nb-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <nb-card accent="success">
                        <nb-card-header>Popular Categories</nb-card-header>
                        <ngx-datatable class="bootstrap" columnMode="force" [rows]="categories"
                            [columns]="categoryColumns">
                        </ngx-datatable>
                    </nb-card>
                </div>
                <div class="w-100">
                    <nb-card accent="success">
                        <nb-card-header>Unapproved Businesses</nb-card-header>
                        <table class="table table-striped" id="unsorted">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                    <!-- <th colspan="2">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="loading">
                                    <td>Loading data...</td>
                                    <td>Loading data...</td>
                                    <td>Loading data...</td>
                                    <td>Loading data...</td>
                                </tr>
                                <tr *ngFor="let business of businesses" [routerLink]="['./business', business._id]">
                                    <td>{{business.name}}</td>
                                    <td>{{business.phoneNumber}}</td>
                                    <td>{{business.address}}</td>
                                    <td><button nbButton status="primary" size="small" class="mr-2">View details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-card>
                </div>
            </div>

        </div>
    </div>
</div>