<!-- f7ed0919f37aa31252fd7aac5eeb86f535a75c9f -->
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-3">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-9">
            <nb-card accent="success">
                <nb-card-header>Categories <button id="openButton" nbButton status="success" size="small"
                        (click)="open(dialog)" class="float-right">Add Category</button>
                </nb-card-header>
                <ngx-datatable class="bootstrap" columnMode="force" [rows]="categories" [columns]="columns">
                </ngx-datatable>
            </nb-card>
        </div>
    </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="w-100 pt-4 px-4" accent="success">
        <form class="form-group" [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm.value); ref.close()">
            <nb-card-header>{{ data }}
            </nb-card-header>
            <nb-card-body class="mb-3">
                <p class="lead pt-3 pb-1 m-0">Category Name</p>
                <input type="text" nbInput fullWidth formControlName="name" #name required>
                <div class="text-danger" *ngIf="(name.invalid && (name.touched || name.dirty))">
                    <small *ngIf="name.errors.required">
                        Name is required.</small>
                </div>

                <p class="lead pt-3 pb-1 m-0">Description</p>
                <input type="text" nbInput fullWidth formControlName="description" #description>
                <small>2-3 words</small>
                <small class="text-danger" *ngIf="categoryForm.errors?.required">Name is required.</small>

                <p class="lead pt-3 pb-1 m-0">Icon</p>
                <nb-select placeholder="Select icon" formControlName="icon">
                    <nb-option *ngFor="let category of categories| unique" [value]="category.icon">
                        {{category.icon}}</nb-option>
                </nb-select>

                <img *ngIf="categoryForm.value.icon!== ''" src="assets/icons/{{categoryForm.value.icon}}.svg"
                    height="36" width="36" class="ml-1 mt-0 float-right" alt="icon" srcset="">

                <br>
                <br>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="success" size="tiny" [disabled]="!categoryForm.valid" type="submit">Create
                    Category</button>
                <button nbButton status="danger" size="tiny" class="float-right" (click)="ref.close()"
                    type="button">Cancel</button>
            </nb-card-footer>
        </form>
    </nb-card>
</ng-template>