.masthead {
  height: 50vh;
  min-height: 500px;
  background-image: url('../../../assets/naks.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: inset 200px 2000px #edf1f757;
}

// .masthead p,
// .masthead h1 {
//   opacity: 0 !important;
// }

nb-card h1,
nb-card p {
  margin: 0 !important;
  color: #696969 !important;
}

nb-card {
  padding: +30px;
}

.img-map {
  width: 300px;
  height: auto;
}

container {
    nb-card-header {
      min-height: 300px;
      max-height: 300px;
  
      img {
        height: inherit;
        width: auto;
      }
    }
  }
  
