<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <!-- <h1 class="font-weight-light">Welcome to Nakuru</h1> -->
            </div>
        </div>
    </div>
</header>

<nb-card>
    <nb-card-body>
        <div class="row align-items-center justify-content-end text-muted">
            <div class="col-md-4">
                <h1 class="display-4">Nakuru</h1>
                <p>The City of Nakuru</p>
            </div>
            <div class="col-md-2">
                <p class="paragraph">Population</p>
                <p class="h5">2,303,325</p>
            </div>
            <div class="col-md-2">
                <p>Density(sq)</p>
                <p class="h5">14,070</p>
            </div>
            <div class="col-md-2">
                <p>Temperature</p>
                <p class="h5">16°C</p>
            </div>
        </div>

    </nb-card-body>
</nb-card>

<div class="container p-5 m-5">
    <div class="row justify-content-end align-items-center">
        <div class="col-md-6">
            <h1>
                Find all cool places and services in Nakuru.
            </h1>
            <p class="lead">User Reviews and Recommendations of Best Restaurants, Shopping, Nightlife, Food,
                Entertainment, Things to Do, Services and More in Nakuru.</p>
        </div>
        <div class="col-md-4">
            <div id="perspective">
                <img class="img-map"
                    src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/map_1r69.svg"
                    alt="pic">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white p-5 shadow">
    <h1>
        Featured Businesses.
    </h1>
    <div class="row align-items-center">
        <!-- blog item-->
        <div class="col-lg-4 col-sm-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="60">
            <div class="card border-0 h-100">
                <img src="assets/employ.png" alt="..." class="img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="my-2 text-dark">PTSKenya</h5>
                    <p class="small">
                        <nb-icon icon="navigation-2-outline"></nb-icon> 2nd Floor, Room No. 4, Bellion House,
                        Pandit Nehru Rd, Nakuru
                    </p>
                    <p class="my-2 text-muted text-sm">The best website hosting company in Nakuru, Kenya that offers;
                        cheap web hosting services in Kenya, domain registration in Kenya.
                    </p>
                </div>
            </div>
        </div>
        <!-- blog item-->
        <div class="col-lg-4 col-sm-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="60">
            <div class="card border-0 h-100">
                <img src="assets/kapi.png" alt="..." class="img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="my-2 text-dark">KAPI Limited</h5>
                    <p class="small">
                        <nb-icon icon="navigation-2-outline"></nb-icon> KAPI Limited, Kufanya Road, Nakuru
                    </p>
                    <p class="my-2 text-muted text-sm">Kapi Limited have been manufacturing insecticidal products since
                        1964, and we are well known for the quality of our products.</p>
                </div>
            </div>
        </div>
        <!-- blog item-->
        <div class="col-lg-4 col-sm-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="110">
            <div class="card border-0 h-100">
                <img src="assets/coelib.png" alt="..." class="img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="my-2 text-dark">Coelib Incubar</h5>
                    <p class="small">
                        <nb-icon icon="navigation-2-outline"></nb-icon> CoELIB-Centre, Njoro
                    </p>
                    <p class="my-2 text-muted text-sm">Connecting you to great clients is what we do best. You’re an
                        A-player, and you deserve to be compensated as such.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white p-5 my-3 shadow ">
    <div class="row justify-content-end align-items-center">
        <div class="col-md-6">
            <h1 class="py-3">
                Brand Visiblity Reimagined.
            </h1>
            <p class="lead">Would you like your business to also be listed here? If yes, create a business portfolio
                with us
                today and get access to thousands of potential customers, reviews and metrics.</p>
        </div>
        <div class="col-md-4">
            <button nbButton status="success" shape="round" [routerLink]="['/business']"
                routerLinkActive="active">Create business portfolio</button>
        </div>
    </div>
</div>