.masthead {
    height: 50vh;
    min-height: 400px;
    background: url("/assets/images/error.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h1{
      font-size: 6em !important;
      margin-bottom: 10px;
  }
  