<!-- f7ed0919f37aa31252fd7aac5eeb86f535a75c9f -->
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-3">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-9">
            <nb-card  *ngIf="business" accent="success">
                <nb-card-header><img src="{{business.picture}}" class="img-thumbnail" alt=""> {{business.name}}</nb-card-header>
                    <table class="table tabe-responsive">
                        <thead>
                            <tr>
                                <th colspan="2">Business Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{business.phoneNumber}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{business.address}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{business.categories}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table tabe-responsive">
                        <thead>
                            <tr>
                                <th colspan="2">Owner Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Owner</td>
                                <td>{{business.ownerName}}</td>
                            </tr>
                            <tr>
                                <td>Id Number</td>
                                <td>{{business.idNumber}}</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{business.ownerPhoneNumber}}</td>
                            </tr>
                            <tr>
                                <td>Email Address</td>
                                <td>{{business.ownerEmail}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!business.verified" >
                        <button class="float-right m-4" nbButton size="small" status="success" (click)="approve(business._id)">Approve</button>
                    </div>
                    <div *ngIf="business.verified" >
                        <button class="float-right m-4" nbButton size="small" status="danger" (click)="unapprove(business._id)">Unapprove</button>
                    </div>
            </nb-card>
        </div>
    </div>
</div>